@import "@Components/Theme/light-theme-color";
@import "@Components/Theme/dark-theme-color";

:root {
  --font-family-atkinson: "Atkinson HyperLegible";
  --font-family-nunitoSans: "Nunito Sans";
}

body {
  font-family: var(--font-family-nunitoSans) sans-serif;
}
