#custom-btn {
  background-color: var(--color-btn-bacground);
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  font-family: var(--font-family-nunitoSans) sans-serif;
}
