[data-bs-theme="dark"] {
  --color-primary-text: "#000";
  --color-btn-bacground: rgb(54 54 177);
  --color-error-message: #c40000;
  --color-field-heading: #333333;
  --color-field-border: #cccccc;
  --color-field-outlined: #007bff;
  --color-text-required: rgb(204, 9, 13);
}
